*{
  box-sizing: border-box;
}

@media (min-width: 540px) {
  .generator-container{
    max-width:500px;
  }
}

@media (max-width: 540px) {
  .generator-container{    
    .header-container{     
      .input-holder{
        display: flex;
        font-size: 0.5rem;
      }
    }
  }
}

.generator-container{

  .title{
    margin: auto;
    margin-bottom: 25px;
    color: #1f1f1f;
    background-color: #b9d9e3;
  }
  padding: 5px;
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #dce9ed;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-holder{
      margin: 5px;
      align-self: flex-end;
      color: #1f1f1f;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: end;

      input{
        margin-right: 10px;
      }

      select{
        margin-right: 10px;
      }
    }
    .btn-holder{
      display: flex;
      align-self: flex-start;
      button{
        align-items: center;
        background-clip: padding-box;
        background-color: #dce9ed;
        border: 1px solid transparent;
        box-sizing: border-box;
        color: #122536;
        cursor: pointer;
        display: inline-flex;
        font-size: 0.8rem;
        
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: 1px;
        position: relative;
        text-decoration: none;
        transition: all 300ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        max-width: 100px;

        &:hover,
        :focus {
            background-color: #122536;
            color: #dce9ed;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
            border: 1px solid transparent;
        }
        
      }
    }
  }
  .output-container{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #b9d9e3;
    color: #1f1f1f;
    
    textarea{
      resize: none;
      width: 100%;
    }
  }
}

footer{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #adddeb;
  color: #1f1f1f;
  margin-top: 10px;
  text-align: center;

  h1{
    font-size: 1.2rem;
    background-color: #6fabbd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  h2{
    font-size: 1.1rem;
    background-color: #6fabbd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}